<div style="margin-top: 100px;">
  This was rendered by App2 which is written in Angular
</div>
<a [routerLink]="['/subroute1']" routerLinkActive="active">Angular route 1</a>
<a [routerLink]="['/subroute2']" routerLinkActive="active">Angular route 2</a>

<router-outlet></router-outlet>

<div
  class="flex justify-between items-center shadow-md p-3 sticky top-0 left-0 bg-white"
>
  <div class="flex flex-row items-center">
    <div class="flex flex-row items-center mx-3">
      <img
        class="rounded-full"
        width="28"
        height="28"
        src="https://avatars1.githubusercontent.com/u/33736098?s=60&v=4"
        alt="avatar"
      />
      <span class="font-bold text-xs mx-2">Vishal Marhatta</span>
    </div>
  </div>
</div>
